.testi-box {
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}
.testi-text {
  font-size: 16px;
  color: #555;
}
.testi-name {
  font-weight: 600;
  font-size: 18px;
  margin-top: 15px;
}
.testi-role {
  font-size: 14px;
  color: #888;
}
.testi-stars {
  margin-top: 10px;
}

.thumbs-wrapper {
  margin-top: 20px;
}
.thumb-img {
  border: 3px solid transparent;
  border-radius: 50%;
  padding: 3px;
  width: 55px;
  height: 55px;
  overflow: hidden;
  margin: auto;
  transition: 0.3s;
}
.thumb-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.thumb-img.active-thumb {
  border-color: #306ee8; /* Blue ring */
}

.testi-image-wrap img {
  border-radius: 16px;
  max-width: 100%;
  height: auto;
}
.about-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.company-wrapp {
  position: relative;
  width: 120px;
  height: 120px;
}

.company-wrapp .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.discount-wrapp {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
  z-index: 1;
}

.rotating-badge {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  animation: rotateCircle 10s linear infinite;
}

@keyframes rotateCircle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rounded-img img {
  border-radius: 50px;
}
@media (max-width: 768px) {
  .custom-ml {
    margin-left: 0 !important;
  }
}
@media (min-width: 769px) {
  .custom-ml {
    margin-left: 30px;
  }
}
@media (max-width: 767px) {
  .custom-ml {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
.desktop-margin-bottom {
  margin-bottom: 140px;
}

@media (max-width: 1023px) {
  .desktop-margin-bottom {
    margin-bottom: 40px !important;
  }
}

/* ----------------------------chairman message  */
.chairman-banner {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.chairman-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(85%);
}

.chairman-overlay {
  position: absolute;
  right: 1.5%;
  top: 70%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.65);
  color: white;
  padding: 30px;
  max-width: 400px;
  border-radius: 12px;
}

.chairman-title {
  font-size: 28px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #bd8f59;
}

.chairman-subtext {
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #fff;
}

.chairman-button {
  background-color: #bd8f59;
  color: #fff;
  padding: 10px 20px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.chairman-button:hover {
  background-color: #cc9037;
}
