.titleFontSize {
  font-size: 15px;
}
.paraFontSize {
  font-size: 14px;
  line-height: 1.4;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 215px;
  margin-left: 15px;
}
@media (max-width: 576px) {
  .paraFontSize {
    margin-left: 0;
  }
}
.background-wrapper::before {
  content: "";
  background-image: url("../../Images/bg-structure.png");
  background-size: 100% auto; /* 100% width, height auto adjust hoga */
  background-repeat: no-repeat;
  background-position: center top; /* ya center center */
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.background-wrapper {
  position: relative;
  z-index: 1;
}
