.service-list {
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
  padding: 30px;
  border-radius: 10px;
  color: #fff;
}

.service-icon img {
  transition: transform 0.6s ease;
  display: inline-block;
}

.service-list:hover .service-icon img {
  transform: rotateY(180deg);
}
